.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pattern-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
